[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PortfolioTesteR"]
	path = PortfolioTesteR
	url = https://github.com/albertopallotta/portfoliotester
